@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&family=Raleway:wght@200;300;400;500;600;700&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400;500;700;900&family=Saira:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --colorText:#feb200;
}

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Cairo', sans-serif;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

/* global features to any website */
ul li{
    list-style: none;
    text-decoration: none;
    color: inherit;
}

ul li a{
    list-style: none;
    text-decoration: none;
    color: inherit;
}

a{
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
    text-decoration: none;  
}

.btn{
    border: none;
    background-color: var(--colorText);
    color: rgb(20, 19, 19);
    border-radius: 10px;
    padding: 5px 10px;
    white-space: nowrap;
    box-shadow: none !important;
    text-transform: uppercase;
    font-weight: bold;
}

.btn:hover{
    border: none;
    background-color: black !important;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    transition: .5s all ease-out;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background:linear-gradient(black,var(--colorText));
    border-radius: 8px;
}
/* end global features */



/* start landing page */
.image{
    width: 100%;
    /* height: auto; */
    height: 469px;
    object-fit: cover;
    clip-path: polygon(100% 0%, 21% 0%, 14% 34%, 8% 61%, 4% 82%, 0% 100%, 0% 100%, 23% 100%, 40% 100%, 61% 100%, 75% 100%, 100% 100%, 100% 50%, 100% 25%);
}

.dateTime{
    position: absolute;
    background-color: #0c101c;
    bottom: 30%;
    padding: 20px;
    padding-left: 40px;
    clip-path: polygon(100% 0%, 21% 0%, 14% 34%, 8% 61%, 4% 82%, 0% 100%, 0% 100%, 23% 100%, 40% 100%, 61% 100%, 75% 100%, 100% 100%, 100% 50%, 100% 25%);
}

.text-img-1{
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    font-style: italic;
}

.image-logo-nav{
    margin-right: 5px;
}

.text-img-2{
    color: var(--colorText);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    font-style: italic;
}

.Description{
    margin-top: 90px;
}

.circle-logo img{
    position: absolute;
    width: 200px;
    height: 190px;
    top: -52%;
    left: 40%;
    background-color: white;
    border-radius: 50%;
    border: 2px solid white;
}


.text-1{
    font-weight: 300;
    font-size: 33px;
    letter-spacing: 0px;
    border-bottom:7px solid var(--colorText);
    padding-bottom: 10px;
    white-space: nowrap;
    width: 438px;
}

.text-2{
    font-size: 15px;
}

.text-3{
    background-color: var(--colorText);
    padding-left: 25px;
    color: rgb(20, 19, 19);
}

.phones{
    font-size: 18px;
}

.location{
    text-decoration: underline;
    background-color: var(--colorText);
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    border-radius: 5px;
    font-weight: bold;
}

.location:hover{
    background-color: black;
    color: white;
    transition: .4s all ease-in-out;
}

.social-icons{
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-color: var(--colorText);
    padding-right: 15px;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%); 
}

.icon1{
    color: black;
    background-color: white;
    width: 40px;
    height: 40px;
    line-height:40px;
    padding: 1px;
    border-radius: 50%;
    text-align: center;
    margin-right: 20px;
    margin-top: 15px;
}

.icon1:hover{
    background-color: black;
    color: white;
    transition: .3s all ease-in-out;
}

.respon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
}

@media (max-width:768px) {
    .image{
        width: 100%;
        height: 300px;
        clip-path: polygon(100% 0%, 71% 0%, 32% 0%, 0% 0%, 0% 25%, 0% 64%, 0% 100%, 23% 100%, 40% 100%, 60% 100%, 75% 100%, 100% 100%, 100% 54%, 100% 25%);
    }
    .text-1{
        font-weight: 300;
        letter-spacing: 0px;
        border-bottom:7px solid var(--colorText);
        padding-bottom: 10px;
        white-space: nowrap;
        width: 250px;
    }
    .dateTime{
        position: absolute;
        background-color: #0c101c;
        bottom: 15%;
        padding: 10px;
        padding-left: 20px;
    }
    .Description{
        margin-top: 20px;
    }
    .social-icons{
        position: static;
        margin-top: 20px;
        background: none;
        clip-path: polygon(100% 0%, 71% 0%, 32% 0%, 0% 0%, 0% 25%, 0% 64%, 0% 100%, 23% 100%, 40% 100%, 60% 100%, 75% 100%, 100% 100%, 100% 54%, 100% 25%);
    }
    .button{
        margin-top: 5px !important;
    }
    .icon1{
        margin-top: 0px;
    }
    .respon{
        padding-right: 0px;
    }
}
/* end landing page */

/* start objective section */
.big-image {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("../images/image.jpeg");
}

.big-image .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.big-image .overlay p {
    font-size: 30px;
    font-weight: 600;
    line-height: 70px;
    margin: 0 0 5px;
    position: relative;
    color: var(--colorText) !important;
    text-align: center !important;
}

.objective{
    margin-right: 20px;
}

.ourVision{
    margin-right: 180px;
}

.arrow{
width: 40px;
height: 40px;
margin-right: 430px;
}

.text-change{
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 0px;
    border-bottom:7px solid var(--colorText);
    padding-bottom: 10px;
    padding-right: 140px;
    padding-top: 10px;
    white-space: nowrap;
    width: 438px;
    background-color: black;
    clip-path: polygon(100% 0%, 21% 0%, 14% 34%, 8% 61%, 4% 82%, 0% 100%, 0% 100%, 23% 100%, 40% 100%, 61% 100%, 75% 100%, 100% 100%, 100% 50%, 100% 25%);
}

.desc-change{
    padding-right: 20px;
    padding-top: 15px;
}

.footer{
    background-color: var(--colorText);
    text-align: center;
    height: 75px;
}

.text-footer{
    font-weight: 700;
    background-color: black;
    padding: 5px;
}

@media (max-width:768px) {
    .objective{
        margin-right: 0px;
    }
    
    .ourVision{
        margin-right: 0px;
    }
    
    .arrow{
    width: 40px;
    height: 40px;
    margin-right:0px;
    }
    
    .text-change{
        padding-right: 10px;
        width: 338px;
    }
    
    .desc-change{
        padding-right: 20px;
    }
    .footer{
        height: 100px;
    }
}
/* end objective section */